.container {
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    min-height: 100vh;
  }
  
  .mainArea {
    display: flex;
    flex-direction: column;
  }
  
  .mainContainer {
    display: flex;
    flex-grow: 1;
    min-height: 60vh;
  }
  